/*-------------------------
    File manager
-------------------------*/
.filemanager {
    margin: 1.0em auto;
    height: 95%;
    max-width: 80%;
}

@media all and (max-width: 965px) {
    .filemanager {
        margin: 0.5rem auto;
        max-width: 95%;
    }
}

/*-------------------------
    Content area
-------------------------*/
.filemanager .data {
    margin-top: 0.8em;
}

.filemanager .data.animated {
    -webkit-animation: showSlowlyElement 700ms; /* Chrome, Safari, Opera */
    animation: showSlowlyElement 700ms; /* Standard syntax */
}

/* Chrome, Safari, Opera */
@-webkit-keyframes showSlowlyElement {
    100%       { transform: scale(1); opacity: 1; }
    0%         { transform: scale(1.2); opacity: 0; }
}

/* Standard syntax */
@keyframes showSlowlyElement {
    100%       { transform: scale(1); opacity: 1; }
    0%         { transform: scale(1.2); opacity: 0; }
}