ul.data.animated {
    list-style-type: none;
}

/*-------------------------
    File manager
-------------------------*/
.filemanager {
    position: relative;
    margin: 1.6em auto;
    width: 95vw;
    height: 95vh;
}

@media all and (max-width: 965px) {
    .filemanager {
        margin: 0.5em auto;
    }
}

/*-------------------------
    Content area
-------------------------*/
.filemanager .data {
    margin-top: 0.8em;
    z-index: -3;
}

.filemanager .data div {
    z-index: 1;
}

.filemanager .data.animated {
    -webkit-animation: showSlowlyElement 700ms; /* Chrome, Safari, Opera */
    animation: showSlowlyElement 700ms; /* Standard syntax */
}
