ul.data.animated {
    list-style-type: none;
}

/*-------------------------
    File manager
-------------------------*/
.filemanager {
    position: relative;
    margin: 1.6em auto;
    width: 95vw;
    height: 95vh;
}

@media all and (max-width: 965px) {
    .filemanager {
        margin: 30px auto 0;
        padding: 1px;
    }
}


/*-------------------------
    Content area
-------------------------*/
.filemanager .data {
    margin-top: 60px;
    z-index: -3;
}

.filemanager .data.animated {
    -webkit-animation: showSlowlyElement 700ms; /* Chrome, Safari, Opera */
    animation: showSlowlyElement 700ms; /* Standard syntax */
}

.filemanager .data .files,
.filemanager .data .folders {
    border-radius: 3px;
    background-color: #373743;
    width: 707px;
    height: 80px;
    margin: 10px;
    /* display: inline-block; */
    position: relative;
    overflow: hidden;
    /* padding: 0.3em; */
    z-index: 1;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.3s background-color;
    display: flex;
    flex-direction: row;
}

.filemanager .data .files:hover,
.filemanager .data .folders:hover {
    background-color: #42424E;
}